{% extends "base.html" %} {% block content %}

<header class="container">
  <nav aria-label="breadcrumb" style="--pico-nav-breadcrumb-divider: '/'">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/artists">By Artists</a></li>
    </ul>
  </nav>
</header>

<div class="container">
  <h1 style="margin-bottom: 60px">Artists</h1>

  {% for artist_group in artists|batch(4) %}
  <div class="grid">
    {% for artist in artist_group %}
    <article>
      <form action="{{ url_for('list_artist_albums') }}" method="post">
        <input type="hidden" name="artist_folder" value="{{ artist }}" />
        <button
          type="submit"
          style="
            background: none !important;
            border: none;
            padding: 0 !important;
            color: #01aaff;
            text-decoration: underline;
            cursor: pointer;
          "
        >
          {{ artist[8:] }}
        </button>
      </form>
    </article>
    {% endfor %}
  </div>
  {% endfor %}
</div>

{% endblock %}
